<h1>This is the Chef Profile Page</h1>


    <div class = chef-card>
        <img src="<%=chefData.profile_img_url%> " alt="no image available">
        <h2></h2>
        <h3><%=chefData.first_name %> <%=chefData.last_name %></h3>
        <h4>Bio: <%=chefData.chefData_bio %> </h4>
        <h4>Experience: <%=chefData.experience %> </h4>
    </div>

