<% mealData.forEach(meal =>{  %> 

    <img src="<%=meal.strMealThumb%>"  alt="no image available" width=400px>
    <h2> Recipe Title: <%=meal.strMeal%> </h2>
    <h3>Category: <%=meal.strCategory%> </h3>
    <h3>Cuisine: <%=meal.strArea%> </h3>
    <br>

    <h3>Ingredients:</h3>
    <ul><% for(let i=0; i < combinedArrays.length; i++){ %>
        
        <li><%=combinedArrays[i][0]%> of <%=combinedArrays[i][1]%></li>
    <% } %> 

    </ul>

    <h3>Procedure:</h3>
    <p><%=meal.strInstructions%></p>
    



<% }) %> 