<% mealData.forEach(meal =>{  %> 

    <!-- Making a comment on a recipe -->
    <form method="POST" action="/chefs/<%=chef.id%>/recipes/<%=meal.idMeal%>/comments">
    <label for="comments">Comment on this recipe</label>
    <input type="text" name="comment">
    <input type="submit">
    </form>

    <!-- Pinning a Recipe -->
    <% if(chefPinned === true){ %> 
       <!-- REMOVE THE PIN -->
        <form method="POST" action="/chefs/<%=chef.id%>/recipes/<%=meal.idMeal%>/recipes/?_method=DELETE">
        <input type="submit" value="Remove Pin">
        </form>
        
      <% }else{ %> 
        <!-- ADD THE PIN -->
        <form method= "POST" action="/chefs/<%=chef.id%>/recipes/<%=meal.idMeal%>/recipes">
        <label for="Pinning">Pin this recipe</label>
        <input type="submit" value="Pin">
        </form>
    <% } %> 

    <!-- Rating a recipe -->
    <% if(chefRated === true){ %>
        <!-- CHANGE THE RATING -->
        <h2>You already rated this recipe</h2>

        <% }else{ %>
        <!-- ADD A RATING -->
        <form method= "POST" action="/chefs/<%=chef.id%>/recipes/<%=meal.idMeal%>/ratings">
        <label for="ratings">Give this recipe a Rating</label>
        <input type="text" name="rating">
        <input type="submit" value="Rate">
        </form>
    <% } %> 
    
    
    <h2> Recipe Title: <%=meal.strMeal%> </h2>
    <img src="<%=meal.strMealThumb%>"  alt="no image available" width=300px>
    <h3>Category: <%=meal.strCategory%> </h3>
    <h3>Cuisine: <%=meal.strArea%> </h3>
    <br>

    <h3>Ingredients:</h3>
    <ul><% for(let i=0; i < combinedArrays.length; i++){ %>
        
        <li><%=combinedArrays[i][0]%> of <%=combinedArrays[i][1]%></li>
    <% } %> 

    </ul>

    <h3>Procedure:</h3>
    <p><%=meal.strInstructions%></p>
    
    
    
    
    <h3>Chef Comments:</h3>
    
    <div class = comment-div>
        
        <% chefComments.forEach(comment => {  %> 
            
            <h3 id= commentor><%=comment.chef.user_name %> </h3>
            <h5 id= comment><%=comment.comment %> </h5>
            <form method="POST" action="/chefs/<%=chef.id%>/recipes/<%=meal.idMeal%>/recipes/?_method=PUT">
                <input type="hidden" name="commentId" value="<%=comment.id%>">
                <input type="text" name="comment">
                <input type="submit" value="Change Comment">
            </form>
            
        <% }) %> 
            
    </div>

<% }) %> 
    


